/* Global Styles + Attributes */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  background: #000;
  font-family: 'Wallpoet', cursive;
}
.container {
  margin-top: 20px;
  height: fit-content;
}
h1 {
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 2px darkblue;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  letter-spacing: 2px;
  /* font-family: 'Coiny', cursive; */
}
h3 {
  
  text-align: center;
  text-shadow: 2px 2px darkblue;
  letter-spacing: 15px;
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 50px;
}
/* Clock + Clock Face Properties */
.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid rgba(36, 124, 206, 0.5);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0px 4px rgba(27, 1, 255, 0.4),
    inset 0 0 0 3px lightblue,
    inset 0 0 0 3px darkblue,
    0 0 10px rgba(36, 124, 206, 0.5);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-3px);
}

/* Clock Hour + Minute + Second Hands */
.hand {
  width: 50%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;

  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* header + footer consistant across all JS interactive projects */

.topbar__left {
  float: left;
}
.topbar__right {
  float: right;
}
#topbar, 
#footer {
    font-family: 'Gruppo', cursive;
    height: fit-content;
    background-color: rgba(36, 124, 206, 0.5);
    text-align: center;
    padding: 10px;
    color: #fff;
    height: 50px;
    
}
#topbar a {
  color: #fff;
  font-size: 1.3em;
  padding: 5px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
}
.box {
  height: 200px;
  width: 200px;
  background-color: #000;
}

@media screen and (max-width: 500px) {
  .clock {
    width: 60%;
    height: 150px;
    border: 15px solid rgba(36, 124, 206, 0.5);
    border-radius: 50%;
    margin: auto;
    position: relative;
    padding: 10px;
  }
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-3px);
  }
  .container {
    padding-bottom: 80px;
    max-width: 300px;
    margin: 10px auto;
  }
  .box {
    height: 200px;
    width: 200px;
    background-color: #000;
  }
  .topbar__left,
  .topbar__right {
    float: none;
  }
  #footer {
    position: fixed;
    bottom: 0;
    
  }
}